body {
    font-family: 'Inter', sans-serif;
    background-color: '#F1F0F0';
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	overflow-y: hidden; /* Hide vertical scrollbar */
	overflow-x: hidden; /* Hide horizontal scrollbar */
}

.Navbar__Items {
    display: 'flex';
    justify-content: 'space-between';
    flex: 1;
    display: inherit;
}

.fp-slide {
  height: 50vh;
}



.WelcomeSection__Icon, .AboutSection__Icon {
	display: flex;
	width: 100%;
	align-items:center;
  text-align: center;
}





